.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    display: table;
}

.table .head {
    font-weight: bold;
    padding: 5px;
    background: #DDDFEB;
    border: 1px solid #dddddd;
    font-weight: 300;
    font-size: 26px;
    color: #808080;
    padding: 10px 0px 10px 10px;
}

.table .cell {
    border: 1px solid #dddddd;
    padding: 5px;
    background: #BCDADD;
    font-weight: 300;
    color: #575555;
    font-size: 21px;
    padding: 10px 0px 10px 10px;
    border-top-color: #DDDFEB;
    border-top-width: 3px;
    border-right-color: #DDDFEB;
    border-right-width: 3px;
    transition: 0.5s;
    display: table-cell;
}

.table .row {
    display: table-row;
}

.table .head {
    display: table-header-group;
}

.table .head-caption {
    display: table-cell;
}

